html, body, div, span, p, form, input, textarea, pre, select, h1, h2, h3, table, tbody, tr, td, label, button, ul, li
{
    margin         : 0;
    padding        : 0;
    border         : 0;
    outline        : 0;

    font-family    : 'ParaType Sans';
    font-weight    : 400;
    box-sizing     : border-box;
}

html, body
{
    -webkit-user-select : none;
    overflow            : hidden;
}

    h2
    {
        color: silver;
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 3px;
        padding-top: 1em;
        position: relative;
    }

@font-face {
    font-family: 'ParaType Sans';
    font-weight: normal;
    src: url('../fonts/PTS55F.ttf');
}

@font-face {
    font-family: 'ParaType Sans';
    font-weight: bold;
    src: url('../fonts/PTS75F.ttf');
}

@font-face {
    font-family: 'ParaType Mono';
    font-weight: normal;
    src: url('../fonts/PTM55F.ttf');
}

@font-face
{
    font-family : 'Open Sans';
    font-style  : normal;
    font-weight : 400;
    src         : url(../fonts/OpenSans.woff2) format('woff2');
}
