.backup-history
{
    display: none;

    position : absolute;
    bottom   : 0;
    width    : 100%;

    &:hover button
    {
        top : 1px;
    }

    button
    {
        position      : absolute;
        right         : 24px;
        top           : -20px;
        background    : #cbcbcb;
        padding       : 3px 8px 4px 5px;
        border-radius : 0 0 3px 3px;
        font-size     : 9px;
        color         : #ffffff;
        transition    : top 150ms;

        i
        {
            margin : 0 2px 0 0;
        }

        &:active
        {
            background : #c5c5c5;
        }
    }

    pre
    {
        cursor              : text;
        -webkit-user-select : auto;
        color               : silver;
        height              : 142px;
        border-top          : 1px solid #212121;
        font-size           : 11px;
        font-family         : "Courier", sans-serif;
        padding             : 8px;
        overflow-y          : auto;
        word-wrap           : break-word;
        overflow            : hidden;


        span
        {
            font-family : "Courier", sans-serif;
            font-size   : 11px;
            color       : red;
        }
    }
}
